# 03- Functions

## Table of Contents:
* [1. Functions](#functions)
* [2. Data Type Functions](#data-type-functions)

<a class="anchor" id="functions"></a>
## 1. Functions

In [68]:
def func(input):
    # code
    return output

In [71]:
def product(a=2, b=3):
    return a*b

product(b=4, a=8)

32

<a class="anchor" id="data-type-functions"></a>
## 2. Data Type Functions

#### Convert `float` and `int`

In [72]:
float_num = float(1)

In [73]:
float_num = float(0.3)

In [74]:
int_num = int(0.3)

#### String

In [34]:
mystr = "this IS a StRiNg"
print(mystr.upper())
print(mystr.lower())
print(mystr.title())
print(mystr.capitalize())

THIS IS A STRING
this is a string
This Is A String
This is a string

In [43]:
mystr = "58"
print(mystr.isalpha())
print(mystr.isdigit())

False
True

In [45]:
mystr = "     so many spaces here                  "
print("--->", mystr.strip(), "<---")

---> so many spaces here <---

In [48]:
mystr = "this is a string"
print(mystr.startswith("this"))
print(mystr.endswith("string"))

True
True

In [30]:
car_name = "Ferrari"
location = "parking"
int_num = 5
float_num = 2324.92374923749237

In [23]:
my_str = "there are {} {} car in {}"
my_str.format(int_num, car_name, location)

'there are 5 Ferrari car in parking'

In [24]:
my_str = "there are {0} car in {1}"
my_str.format(int_num, location)

'there are 5 car in parking'

In [ ]:
my_str = "there are {num_people} people in {location}"
my_str.format(num_people=num_people, location=location)

In [25]:
"your number is {float_num:.10}".format(float_num=float_num)

'your number is 2324.923749'

In [31]:
# f-strings
f"a float number with 8 digits: {float_num:.8} "

'a float number with 8 digits: 2324.9237 '

Read More on **f-strings**: https://realpython.com/python-f-strings/

#### List

In [75]:
mylist = ["apple", "pear", "banana"]
mylist.append("orange")

In [76]:
mylist

['apple', 'pear', 'banana', 'orange']

In [77]:
mylist.pop()

'orange'

In [78]:
mylist

['apple', 'pear', 'banana']

In [79]:
mylist.pop(0)

'apple'

In [80]:
mylist

['pear', 'banana']

In [82]:
mylist.sort()
mylist

['banana', 'pear']

In [88]:
mylist.reverse()
mylist

['pear', 'banana']

#### Dictionary

In [89]:
mydict = {"one": 1, "two": 2, "three": 3}

In [90]:
mydict["one"]

1

In [91]:
mydict.keys()

dict_keys(['one', 'two', 'three'])

In [92]:
mydict.values()

dict_values([1, 2, 3])

In [93]:
mydict.items()

dict_items([('one', 1), ('two', 2), ('three', 3)])

#### Tuple

In [1]:
mytuple = (1, 2, 3)
len(mytuple)

3

In [2]:
mytuple.count(3)

1

In [ ]:
mytuple.index(3)

#### Set

In [3]:
set_1 = {1, 2, 3, 1234}
set_2 = {1, 2, 4, 5}

In [4]:
set_1.union(set_2)

{1, 2, 3, 4, 5, 1234}

In [5]:
set_1.intersection(set_2)

{1, 2}

In [6]:
set_1.update(set_2)
set_1

{1, 2, 3, 4, 5, 1234}

In [7]:
set_1.remove(1234)
set_1

{1, 2, 3, 4, 5}