# Data Type Methods

### Convert `float` and `int`

In [72]:
float_num = float(1)

In [73]:
float_num = float(0.3)

In [74]:
int_num = int(0.3)

### String

In [1]:
mystr = "Ali Hejazizo"

In [1]:
mystr = "this IS a StRiNg"
print(mystr.upper())
print(mystr.lower())
print(mystr.title())
print(mystr.capitalize())

THIS IS A STRING
this is a string
This Is A String
This is a string

In [22]:
"THIS is uppercase".islower(), "THIS is uppercase".isupper()

(False, False)

In [43]:
mystr = "58"
print(mystr.isalpha())
print(mystr.isdigit())

False
True

In [342]:
mystr = "     so many spaces here                  "
print("--->", mystr.strip(), "<---")

---> so many spaces here <---

In [344]:
mystr = "this is a string"
print(mystr.startswith("this"))
print(mystr.endswith("string"))

True
True

In [9]:
"Ali Hejazizo".center(50)

'                   Ali Hejazizo                   '

In [20]:
"Ali Hejazizo".count("i")

2

#### Find Character or Substring

In [25]:
"line number 222".find("number"), "line number 222".find("2")

(5, 12)

In [25]:
"line number 222".find("2"), "line number 222".rfind("2")

(12, 14)

#### Remove Whitespaces

In [34]:
"     this line has whitespace at the start and at the end        ".strip()

'this line has whitespace at the start and at the end'

In [35]:
"     this line has whitespace at the start        ".rstrip()

'     this line has whitespace at the start'

In [37]:
"     this line has whitespace at the start        ".lstrip()

'this line has whitespace at the start        '

#### String Formatting

In [37]:
car_name = "Ferrari"
location = "parking"
int_num = 5
float_num = 2324.92374923749237
num_people = 5

In [38]:
my_str = "there are {} {} car in {}"
my_str.format(int_num, car_name, location)

'there are 5 Ferrari car in parking'

In [39]:
my_str = "there are {0} cars in {1}"
my_str.format(int_num, location)

'there are 5 cars in parking'

In [40]:
my_str = "there are {num_people} people in {location}"
my_str.format(num_people=num_people, location=location)

'there are 5 people in parking'

In [47]:
"your number is {float_num:.6}".format(float_num=float_num)

'your number is 2324.92'

In [52]:
# f-strings
f"a float number with 8 digits: {float_num:.8} "

269 ns ± 6.64 ns per loop (mean ± std. dev. of 7 runs, 1000000 loops each)

Read More on **f-strings**: https://realpython.com/python-f-strings/

### List

In [74]:
mylist = ["apple", "pear", "banana"]
mylist

['apple', 'pear', 'banana']

In [75]:
mylist.reverse()

In [76]:
mylist

['banana', 'pear', 'apple']

#### Add, Insert, Pop

In [77]:
mylist.append("watermelon")
mylist

['banana', 'pear', 'apple', 'watermelon']

In [78]:
mylist.extend(["mango", "melon", "cucumber", "kiwi"])
mylist

['banana', 'pear', 'apple', 'watermelon', 'mango', 'melon', 'cucumber', 'kiwi']

In [83]:
mylist.pop()

'watermelon'

In [85]:
mylist

['banana', 'pear', 'apple']

In [86]:
mylist.pop(1)

'pear'

In [87]:
mylist

['banana', 'apple']

In [90]:
mylist.insert(5, "banana")

In [91]:
mylist

['pear', 'apple', 'watermelon', 'mango', 'melon', 'banana', 'cucumber']

In [91]:
mylist.remove("banana")

In [93]:
mylist.index('apple')

0

In [33]:
"line number 2".index("number"), "line number 2".index("2")

(5, 12)

In [94]:
mylist.remove("banana")

ValueError: list.remove(x): x not in list

#### Sort

In [94]:
mylist.sort()
mylist

['apple']

#### Find

In [75]:
mylist.index("apple")

1

#### Other

In [55]:
# return a copy of list
mylist.copy()
mylist[:]

['apple', 'pear']

In [61]:
mylist.extend(["apple", "apple"])
mylist.count("apple")

9

In [98]:
# empty list
mylist.clear()

### Dictionary

In [100]:
mydict = {"one": 1, "two": 2, "three": 3}

In [101]:
mydict["one"]

1

In [102]:
mydict["four"]

KeyError: 'four'

In [107]:
print(mydict.get("four"))

None

In [124]:
mydict.get("four", "not found")

'not found'

In [108]:
mydict.keys()

dict_keys(['one', 'two', 'three'])

In [109]:
mydict.values()

dict_values([1, 2, 3])

In [110]:
mydict.items()

dict_items([('one', 1), ('two', 2), ('three', 3)])

In [111]:
# pop returns the value and deletes the item from dictionary
mydict.pop("one")

1

In [112]:
mydict

{'two': 2, 'three': 3}

In [113]:
# update the dict (like extend in list)
mydict.update(
    {
        "four": 4,
        "five": 5,
        "six": 6,
    }
)
mydict

{'two': 8888, 'three': 3, 'four': 4, 'five': 5, 'six': 6}

#### Other

In [ ]:
mydict.copy()

In [103]:
mydict.clear()
mydict

{}

### Tuple

In [131]:
mytuple = (1, 2, 3)
len(mytuple)

3

In [132]:
mytuple.count(3)

1

In [133]:
mytuple.index(3)

2

### Set

In [116]:
set_1 = {1, 2, 3, 1234}
set_2 = {1, 2, 4, 5}

In [136]:
set_1.union(set_2)

{1, 2, 3, 4, 5, 1234}

In [137]:
set_1.intersection(set_2)

{1, 2}

In [138]:
set_1.update(set_2)
set_1

{1, 2, 3, 4, 5, 1234}

In [139]:
set_1.remove(1234)
set_1

{1, 2, 3, 4, 5}

In [141]:
set_1, set_2

({1, 2, 3, 4, 5}, {1, 2, 4, 5})

In [142]:
set_1.difference(set_2)

{3}

In [127]:
{1, 2, 3, 4}.issuperset({1, 2})

True

In [128]:
{1, 2}.issubset({1, 2, 3, 4})

True